on:
  push:
    tags:
      - "b*"

name: Release Binaries

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: sudo apt install -y p7zip

      - name: Download Binaries
        run: sh ./build/index.sh

      - name: Compress Binaries
        run: |
          set -e
          set -o pipefail
          # ffmpeg
          cat bin/ffmpeg-darwin-x64 | gzip --best >bin/ffmpeg-darwin-x64.gz
          cat bin/ffmpeg-darwin-arm64 | gzip --best >bin/ffmpeg-darwin-arm64.gz
          # cat bin/ffmpeg-freebsd-x64 | gzip --best >bin/ffmpeg-freebsd-x64.gz
          cat bin/ffmpeg-linux-arm | gzip --best >bin/ffmpeg-linux-arm.gz
          cat bin/ffmpeg-linux-arm64 | gzip --best >bin/ffmpeg-linux-arm64.gz
          cat bin/ffmpeg-linux-ia32 | gzip --best >bin/ffmpeg-linux-ia32.gz
          cat bin/ffmpeg-linux-x64 | gzip --best >bin/ffmpeg-linux-x64.gz
          cat bin/ffmpeg-win32-ia32 | gzip --best >bin/ffmpeg-win32-ia32.gz
          cat bin/ffmpeg-win32-x64 | gzip --best >bin/ffmpeg-win32-x64.gz
          # ffprobe
          cat bin/ffprobe-darwin-x64 | gzip --best >bin/ffprobe-darwin-x64.gz
          #cat bin/ffprobe-darwin-arm64 | gzip --best >bin/ffprobe-darwin-arm64.gz
          # cat bin/ffprobe-freebsd-x64 | gzip --best >bin/ffprobe-freebsd-x64.gz
          cat bin/ffprobe-linux-arm | gzip --best >bin/ffprobe-linux-arm.gz
          cat bin/ffprobe-linux-arm64 | gzip --best >bin/ffprobe-linux-arm64.gz
          cat bin/ffprobe-linux-ia32 | gzip --best >bin/ffprobe-linux-ia32.gz
          cat bin/ffprobe-linux-x64 | gzip --best >bin/ffprobe-linux-x64.gz
          cat bin/ffprobe-win32-ia32 | gzip --best >bin/ffprobe-win32-ia32.gz
          cat bin/ffprobe-win32-x64 | gzip --best >bin/ffprobe-win32-x64.gz
          ls -l bin
        shell: bash

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}

      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/ffmpeg-darwin-x64
          asset_name: ffmpeg-darwin-x64
          asset_content_type: application/octet-stream
      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/ffmpeg-darwin-x64.gz
          asset_name: ffmpeg-darwin-x64.gz
          asset_content_type: application/octet-stream

      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/darwin-x64.README
          asset_name: darwin-x64.README
          asset_content_type: text/plain

      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/ffmpeg-darwin-arm64
          asset_name: ffmpeg-darwin-arm64
          asset_content_type: application/octet-stream
      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/ffmpeg-darwin-arm64.gz
          asset_name: ffmpeg-darwin-arm64.gz
          asset_content_type: application/octet-stream

      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/darwin-arm64.README
          asset_name: darwin-arm64.README
          asset_content_type: text/plain

      # - uses: actions/upload-release-asset@v1.0.1
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   with:
      #     upload_url: ${{ steps.create_release.outputs.upload_url }}
      #     asset_path: bin/freebsd-x64
      #     asset_name: freebsd-x64
      #     asset_content_type: application/octet-stream
      # - uses: actions/upload-release-asset@v1.0.1
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   with:
      #     upload_url: ${{ steps.create_release.outputs.upload_url }}
      #     asset_path: bin/freebsd-x64.gz
      #     asset_name: freebsd-x64.gz
      #     asset_content_type: application/octet-stream

      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/ffmpeg-linux-arm
          asset_name: ffmpeg-linux-arm
          asset_content_type: application/octet-stream
      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/ffmpeg-linux-arm.gz
          asset_name: ffmpeg-linux-arm.gz
          asset_content_type: application/octet-stream

      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/linux-arm.README
          asset_name: linux-arm.README
          asset_content_type: text/plain

      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/linux-arm.LICENSE
          asset_name: linux-arm.LICENSE
          asset_content_type: text/plain

      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/ffmpeg-linux-arm64
          asset_name: ffmpeg-linux-arm64
          asset_content_type: application/octet-stream
      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/ffmpeg-linux-arm64.gz
          asset_name: ffmpeg-linux-arm64.gz
          asset_content_type: application/octet-stream

      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/linux-arm64.README
          asset_name: linux-arm64.README
          asset_content_type: text/plain

      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/linux-arm64.LICENSE
          asset_name: linux-arm64.LICENSE
          asset_content_type: text/plain

      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/ffmpeg-linux-ia32
          asset_name: ffmpeg-linux-ia32
          asset_content_type: application/octet-stream
      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/ffmpeg-linux-ia32.gz
          asset_name: ffmpeg-linux-ia32.gz
          asset_content_type: application/octet-stream

      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/linux-ia32.README
          asset_name: linux-ia32.README
          asset_content_type: text/plain

      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/linux-ia32.LICENSE
          asset_name: linux-ia32.LICENSE
          asset_content_type: text/plain

      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/ffmpeg-linux-x64
          asset_name: ffmpeg-linux-x64
          asset_content_type: application/octet-stream
      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/ffmpeg-linux-x64.gz
          asset_name: ffmpeg-linux-x64.gz
          asset_content_type: application/octet-stream

      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/linux-x64.README
          asset_name: linux-x64.README
          asset_content_type: text/plain

      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/ffmpeg-linux-x64.LICENSE
          asset_name: ffmpeg-linux-x64.LICENSE
          asset_content_type: text/plain

      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/ffmpeg-win32-ia32
          asset_name: ffmpeg-win32-ia32
          asset_content_type: application/octet-stream
      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/ffmpeg-win32-ia32.gz
          asset_name: ffmpeg-win32-ia32.gz
          asset_content_type: application/octet-stream

      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/win32-ia32.LICENSE
          asset_name: win32-ia32.LICENSE
          asset_content_type: text/plain

      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/ffmpeg-win32-x64
          asset_name: ffmpeg-win32-x64
          asset_content_type: application/octet-stream
      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/ffmpeg-win32-x64.gz
          asset_name: ffmpeg-win32-x64.gz
          asset_content_type: application/octet-stream

      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/win32-x64.LICENSE
          asset_name: win32-x64.LICENSE
          asset_content_type: text/plain

      #ffprobe releases
      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/ffprobe-darwin-x64
          asset_name: ffprobe-darwin-x64
          asset_content_type: application/octet-stream
      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/ffprobe-darwin-x64.gz
          asset_name: ffprobe-darwin-x64.gz
          asset_content_type: application/octet-stream

      # No provided ARM64 for ffprobe yet
      #- uses: actions/upload-release-asset@v1.0.1
      #  env:
      #    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #  with:
      #    upload_url: ${{ steps.create_release.outputs.upload_url }}
      #    asset_path: bin/ffprobe-darwin-arm64
      #    asset_name: ffprobe-darwin-arm64
      #    asset_content_type: application/octet-stream
      #- uses: actions/upload-release-asset@v1.0.1
      #  env:
      #    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #  with:
      #    upload_url: ${{ steps.create_release.outputs.upload_url }}
      #    asset_path: bin/ffprobe-darwin-arm64.gz
      #    asset_name: ffprobe-darwin-arm64.gz
      #    asset_content_type: application/octet-stream

      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/ffprobe-linux-arm
          asset_name: ffprobe-linux-arm
          asset_content_type: application/octet-stream
      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/ffprobe-linux-arm.gz
          asset_name: ffprobe-linux-arm.gz
          asset_content_type: application/octet-stream

      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/ffprobe-linux-arm64
          asset_name: ffprobe-linux-arm64
          asset_content_type: application/octet-stream
      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/ffprobe-linux-arm64.gz
          asset_name: ffprobe-linux-arm64.gz
          asset_content_type: application/octet-stream

      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/ffprobe-linux-ia32
          asset_name: ffprobe-linux-ia32
          asset_content_type: application/octet-stream
      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/ffprobe-linux-ia32.gz
          asset_name: ffprobe-linux-ia32.gz
          asset_content_type: application/octet-stream

      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/ffprobe-linux-x64
          asset_name: ffprobe-linux-x64
          asset_content_type: application/octet-stream
      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/ffprobe-linux-x64.gz
          asset_name: ffprobe-linux-x64.gz
          asset_content_type: application/octet-stream

      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/ffprobe-win32-ia32
          asset_name: ffprobe-win32-ia32
          asset_content_type: application/octet-stream
      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/ffprobe-win32-ia32.gz
          asset_name: ffprobe-win32-ia32.gz
          asset_content_type: application/octet-stream

      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/ffprobe-win32-x64
          asset_name: ffprobe-win32-x64
          asset_content_type: application/octet-stream
      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: bin/ffprobe-win32-x64.gz
          asset_name: ffprobe-win32-x64.gz
          asset_content_type: application/octet-stream